/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

@brand-color: #b30838;
/* ==========================================================================
   Base
   ========================================================================== */
body{
  background: #FFF url(../img/131208snow-012-edit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.wow-posts .row{
  @media (min-width: @screen-sm-min) {margin-bottom:10px;}
}
.wow-posts article{
  @media (max-width: @screen-sm-min) { margin-bottom:10px; }
  .openmark,.closemark{
    margin:0;
    padding:3px 10px;
    color:white;
  }
  .openmark{
    background-color:@brand-success;
  }
  .closemark{
    background-color:@brand-warning;
  }
}
.wow-posts article header{
  background-color:white;
  padding:10px;
  h2{
    margin:0;
  } 
}

.wow-posts article.wow-closed{
  opacity:.5;
  &:hover{
    opacity:1;
  }
}
h1, h2, h3, .navbar-brand{
  font-family:"FrutigerLTW01-67BoldCn";
}

.widget ul {
  list-style: none;
  padding:0;
    
}
.widget li{
  padding:3px 10px;
  border-bottom: 1px solid #eee;
  background-color: white;
}
.widget li:hover{
    background-color: #FFF7E7;
    opacity: 1;
}
.widget h3{
  margin: 0;
  padding: 10px 5px;
  color: hsl(0, 100%, 100%);
  text-shadow: 3px 2px 5px hsl(0, 0%, 20%);
  font-size: 2em;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  font-size: 3em;
  background-color:#A60835;
  a{
    color:white;
  }
}
.sju-banner {
  background-color: white;
  border-bottom: 4px solid #A60835; border-top: 8px solid #DDD;
}
.sju-banner .logo img {
  max-width: 200px;
  height: auto;
  margin-top: -27px;
  margin-bottom: 2px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }


.single .post {
  background-color: white;
  padding: 10px;
  .currently-open{
    color:green;
  }
  .currently-closed{
    color:gray;
  }
  h1{
    color: #B30838;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
}
.closed-hours, .open-hours{
  display:block;
}
.closed-hours .closed-title, .open-hours .open-title{
  font-weight:bold;
  padding-right: 10px;
}
.istoday{
  font-weight:bold;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/*
This CSS resource incorporates links to font software which is
the valuable copyrighted property of Monotype Imaging and/or
its suppliers. You may not attempt to copy, install, redistribute, convert,
modify or reverse engineer this font software. Please contact Monotype Imaging
with any questions regarding Web Fonts:	http://webfonts.fonts.com
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=60cec3a4-12ff-4d0d-9a57-d7db74cdafc9");
^ removed the above line on 11/2/12.  It doesn't appear to point to anything.
*/

// the ../fonts/ should be for wherever the fonts directory lives relative to the compiled file.
@font-face {
  font-family: 'FrutigerLTW01-67BoldCn';
  src: url('../fonts/frutigerltw01-67boldcn.eot?') format('eot'), 
       url('../fonts/frutigerltw01-67boldcn.woff') format('woff'), 
       url('../fonts/frutigerltw01-67boldcn.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-67boldcn.svg') format('svg');
}
@font-face {
  font-family: 'FrutigerLTW01-75Black';
  src: url('../fonts/frutigerltw01-75black.eot?') format('eot'), 
       url('../fonts/frutigerltw01-75black.woff') format('woff'), 
       url('../fonts/frutigerltw01-75black.ttf') format('truetype'), 
       url('../fonts/frutigerltw01-75black.svg') format('svg');
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
