/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }


@import url(http://fonts.googleapis.com/css?family=Francois+One);
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em; 
}
h3{
	font-size: 1.25em;
}
article.podcast-archive{
margin-bottom:15px;
border-bottom: 1px solid #ccc;
padding-bottom:15px;
}
.segment-list h3, .podcast-meta i{
	color: #DD5600;
}
.episode-number{
	font-family: 'Francois One';
	border-right: 3px solid;
	padding-right: 10px;
	color: #666;
}
.segment-list h3{
	display:inline-block;
	font-family: 'Francois One';
	margin: 0 10px 0 0;
	font-size: 1em;
}
.episodenumber {
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	background: #999;
	border-radius: 100%;
	box-shadow: 1px 1px 1px #444;
	color: #FFF;
	font-size: 15px;
	padding: 10px;
	text-align: center;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  &.navbar{
    border-bottom: 10px solid darken(@brand-primary, 15%);
    a{
      font-family: @latofont;
    }
  }
}


/* ==========================================================================
   Carousel
   ========================================================================== */
#podcast-slider{
  border-radius: 4px;
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding:10px;
  .carousel-indicators{
    bottom:10px;
    background-color:black;
  }
  .box-caption{
    position: relative;
    bottom: 0;
    float: right;
    margin-top: -10%;
    height: 6%;
    margin-bottom: 4%;
    z-index: 50;
    padding: 12px;
    max-width: 90%;
    color: #FFF;
    background: #000;
    border-radius: 5px 0 0 5px;
    opacity: 0.8;
  }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 

}
.widget h3{
  text-transform: uppercase;
  font-size: 1.25em;
}
/* Widgets */
.widgettitle{
  font-size:14px;
  text-transform: uppercase;
}
.widget ul{
  list-style: none;
  padding:0;
  margin:0;
}
.widget ul li{
  display:block;
  border-bottom: 1px solid #DDD;
}
.widget ul li a, .widget ul li.recentcomments{
  display: block;
  padding: 5px 10px;
  background:transparent;
  text-decoration:none;
  -webkit-transition: color 250ms, background 200ms;
  -moz-transition:    color 250ms, background 200ms;
  -ms-transition:     color 250ms, background 200ms;
  -o-transition:      color 250ms, background 200ms;
  transition:         color 250ms, background 200ms;
}
.widget ul li a:hover{
  background:#3FA9F5;
  color:white;
  text-shadow: 0 1px 0 #999;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { 
  img{
    .img-responsive();
  }
}
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { 
  .sidebar{
    margin-top: 100px;
  }
}

@media (min-width: @screen-md-min) { 
  
}

@media (min-width: @screen-lg-min) { }
